.item {
display: flex;
justify-content: space-between;
}

img {
    height: 150px;
    border: 10px solid white;

}

div {
    padding: 1em;
    color: white;
    background-color: red;
    clear: left;

    
}

h4 {
    display: flex;
justify-content: space-between;
}